<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Input Form</title>
    </head>
    <body>

    <form action="/submit" method="post">
        <!-- Raw Data Input -->
        <label for="Raw Data File">Raw Data File Location:</label>
        <input type="text" id="rawdata" name="rawdata">
        <br><br>

        <!-- Training Data Input -->
        <label for="Training Data File">Training Data File Location:</label>
        <input type="text" id="trainingdata" name="trainingdata">
        <br><br>

        <!-- Testing Data Input -->
        <label for="Testing Data File">Testing Data File Location:</label>
        <input type="text" id="testingdata" name="testingdata">
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>

    </body>
    </html>